<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteCond %{HTTP_HOST} ^www.firstchoize.com
    #RewriteRule (.*) https://firstchoize.com/$1 [R=301,L]
    RewriteBase /
    Options + FollowSymLinks
    # RewriteCond %{REQUEST_FILENAME}\.html -f
    #RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{HTTP_HOST} ^www\.yegcompunding\.com [NC]
    # RewriteRule ^(.*)$ http://yegcompunding.com/$1 [L,R=301]
    RewriteRule ^(.*)$1 [L,QSA]
    RewriteEngine On
    RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    #RewriteCond %{REQUEST_URI} ^/404/$
    #RewriteRule ^(.*)$ index.html [L]
    #ErrorDocument 404 ^(.*)$ index.html [L,QSA]
</IfModule>